In [1]:
"""
Question 1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.
"""

'\nQuestion 1 :\nAssuming that we have some email addresses in the "username@companyname.com" format, please\nwrite a program to print the company name of a given email address. Both user names and company\nnames are composed of letters only.\nInput Format:\nThe first line of the input contains an email address.\nOutput Format:\nPrint the company name in a single line.\nExample;\nInput:\njohn@google.com\nOutput:\ngoogle.\n'

In [10]:
def companyName(str1):
    companyName = str1.split("@")[1].split(".")[0]
    return companyName

str1 = "sourav@accenture.com"
companyName = companyName(str1)
print(companyName)

accenture

In [11]:
"""
Question 2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world
"""

'\nQuestion 2 :\nWrite a program that accepts a comma-separated sequence of words as input and prints the words in a\ncomma-separated sequence after sorting them alphabetically.\nInput Format:\nThe first line of input contains words separated by the comma.\nOutput Format:\nPrint the sorted words separated by the comma.\nExample:\nInput:\nwithout,hello,bag,world\nOutput:\nbag,hello,without,world\n'

In [16]:
def sortSeq(str1):
    lis1 = str1.split(",")
    lis1.sort(key = lambda x:x)
    str2 = ""
    for ele in lis1:
        if str2 == "":
            str2 += ele
        else:
            str2 = str2 + "," + ele
    return str2

str1 = "without,hello,bag,world"

str2 = sortSeq(str1)
print(str2)

bag,hello,without,world

In [17]:
"""
Question 3:
Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp
"""

'\nQuestion 3:\nCreate your own Jupyter Notebook for Sets. Reference link:\nhttps://www.w3schools.com/python/python_sets.asp\n'

In [2]:
#A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [3]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [4]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [5]:
#Add item in set
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

In [6]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'apple', 'mango', 'cherry', 'grapes', 'banana', 'orange'}

In [7]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [8]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [9]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [10]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [11]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [12]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [13]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [14]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'b', 'c'}

In [15]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [25]:
"""
Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input
"""

'\nQuestion 4:\nGiven a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no\nduplicates.\nInput Format:\nThe first line contains n-1 numbers with each number separated by a space.\nOutput Format:\nPrint the missing number\nExample:\nInput:\n1 2 4 6 3 7 8\nOutput:\n5\nExplanation:\nIn the above list of numbers 5 is missing and hence 5 is the input\n'

In [33]:
def missingNumber(lis1):
    lastElement = lis1[-1]
    lis2 = []
    for elem in range(1,lastElement+1):
        lis2.append(elem)
    return (list(list(set(lis1)-set(lis2)) + list(set(lis2)-set(lis1))))     

lis1 = [1,2,3,4,6,7,8]
lis2 = missingNumber(lis1)
print(lis2)

[5]

In [34]:
"""
Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35
"""

'\nQuestion 5:\nWith a given list L, write a program to print this list L after removing all duplicate values with original order\nreserved.\nExample:\nIf the input list is\n12 24 35 24 88 120 155 88 120 155\nThen the output should be\n12 24 35 88 120 155\nExplanation:\nThird, the seventh and ninth element of the list L has been removed because it was already present.\nInput Format:\nIn one line take the elements of the list L with each element separated by a space.\nOutput Format:\nPrint the elements of the modified list in one line with each element separated by a space.\nExample:\nInput:\n12 24 35 24\nOutput:\n12 24 35\n'

In [47]:
def removeDuplicate(str1):
    lis1 = str1.split(" ")
    lis2 = list(dict.fromkeys(lis1))
    print (*lis2)
    #return lis2

str1 = "12 24 35 24"
print(removeDuplicate(str1))

12 24 35
None